@media only screen and (max-width: 960px) {
  .showcase {
    height: 70vh;
  }

  .showcase-top img {
    top: 30%;
    left: 5%;
    transform: translate(0);
  }

  .showcase-content {
    h1 {
      font-size: 3.7rem;
      line-height: 1;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .hide-sm {
    display: none;
  }

  .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-xl {
    font-size: 1.5rem;
    padding: 1.3rem 2rem;
  }

  .text-xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1.3rem;
  }

  .text-md {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) {

  .showcase::after {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 60px 80px 200px #000,
    inset -60px -80px 200px #000;
  }

  #tab-1-content {
    .tab-1-content-inner {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  #tab-2-content {
    .tab-2-content-top {
      display: block;
      text-align: center;
    }

    .tab-2-content-bottom {
      grid-template-columns: 1fr;
    }
  }
}
